<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" type="text/css" media="screen" href="../static/bootstrap-4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/style/mystyle.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>contact!</title>
  </head>
  <body>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Contact</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-7">Enter the Contact Details</h1>
   <form action="/add_contact">
  <div class="row">
    <div class="col">
      <input type="text" name="full_name" class="form-control" placeholder="Full name" required>
    </div>
    <div class="col">
      <input type="text" name="tel_number" class="form-control" placeholder="Telephone Number" required>
    </div>
    <div class="col">
      <input type="email" name="email" class="form-control" placeholder="Email" required>
    </div>
  </div>
  <br>
  <br>
  <div class="float-right">
  <button type="submit" class="btn btn-primary">Save Contact</button>
</div>
</form>
  </div>
</div>

  <!-- Displaying Results -->
<div class="container">
  <h1 class="display-8">Contact Details</h1>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Full Name</th>
      <th scope="col">Telephone Number</th>
       <th scope="col">Email</th>
        <th scope="col">Operation</th>
    </tr>
  </thead>

  <tbody>

  {%for row in rows%}
    <tr>
      <th scope="row">{{ row["id"] }}</th>
      <td>{{ row["created_at"] }}</td>
      <td>{{row ["full_name"] }}</td>
      <td>{{row["tel_number"] }}</td>
      <td>{{row["email"] }}</td>
      <td> <a href="#" data-toggle="modal" data-target='#editting{{ row["id"] }}' class="btn btn-success"><i class="fa fa-edit"></i> Edit </a>
    <a href="#" data-toggle="modal" data-target='#deleting{{ row["id"] }}' class="btn btn-danger"><i class="fa fa-edit"></i> Delete </a> </td>
    </tr>
  </tbody>
  {%endfor%}
</table>
</div>
 {%for row in rows%}

 <!-- Editting Contact -->
<!-- Modal -->
<div class="modal fade" id='editting{{ row["id"] }}' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
   <form  action="/edit_contact">
  <div class="row">

      <input type="hidden" name="id" value='{{ row["id"] }}'  class="form-control" placeholder="Full name" >
    <div class="col">
      <input type="text" name="full_name" value='{{ row["full_name"] }}' name="full_name"  class="form-control" placeholder="Full name" required>
    </div>
    <div class="col">
      <input type="text" name="tel_number"  value='{{ row["tel_number"] }}' name="tel_number" class="form-control" placeholder="Telephone Number" required>
    </div>
    <div class="col">
      <input type="email" name="email"value='{{ row["email"] }}' name="email" class="form-control" placeholder="Email" required>
    </div>
  </div>
  </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
        <button type="submit" value="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </form>

  </div>
</div>
    <!-- Deleting contact -->
<!-- Modal -->
<div class="modal fade" id='deleting{{ row["id"] }}' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Deleting Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete this contact?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>

          <form action="/delete_contact">

            <input type=hidden value='{{ row["id"] }}' name="id" ></input>
            <button type="submit" class="btn btn-success">Yes</button>
          </form>       
       
      </div>
    </div>
  </div>
</div>
{%endfor%}
<script type="text/javascript">
  $(document).ready( function () {
    $('#rows').DataTable();
} );
  </script> 
<script> $('#editting').modal(show); </script>
<script> $('#deleting').modal(show); </script>

    <!-- Optional JavaScript -->
   <script src="../static/bootstrap-4.1.3/jquery.min.js"></script>
    <script src="../static/bootstrap-4.1.3/popper.min.js"></script>
    <script src="../static/js/main.js"></script>
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {{ toastr.include_toastr_js() }}
  </body>
</html>